/* CSS Document */
html{
	scroll-behavior: smooth;
}
body{
    font-family: 'Anybody', cursive;
    cursor: url(../img/svg/pointer-1.svg), default;
}
div .nav{
	cursor: url(../img/svg/pointer-2.svg), default;
}
.nav:hover iconify-icon{
	cursor: url(../img/svg/pointer-2.svg), default;
}

ul, li, a, button{
	cursor: url(../img/svg/pointer-2.svg), default;
	text-decoration: none;
}
button{
    font-family: 'Anybody', cursive;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	font-family: */
}
/*reset css*/
.container-fluid{
	position: relative;
	background: #000;
	width: 100%;
	cursor: url(../img/svg/pointer-1.svg), default;
	/*padding: 0 16px;*/
}
.container{
	width: 100vw;
	margin: 0 16px;
}
.margin-bottom{
	height: 48px;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.row>[class*="col-"]{
	padding: 12px;	
}
.justify-between{
	justify-content: space-between;
}
.justify-center{
	justify-content: center;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}

